.sidebar {
    background-color: white;
    position: fixed;
    top: 76px;
    left: 0;
    bottom: 0;
    width: 97px;
    display: flex;
    flex-direction: column;
    z-index: 101;
}

.sidebar img{
    width: 30px;
    vertical-align: middle;
    padding-bottom: 8px;
}

.sidebar div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
}

.sidebar div:hover{
    background-color: #eeeeee;
}

.sidebar p{
    font-size: 13px;
}
